In [ ]:
#() parenthesis , #" " Quotation , # Pound slash  comment

In [ ]:
#basics

In [ ]:
print("hii")

hii

In [ ]:
print('hii')

hii

In [ ]:
print('hi "hello"')

hi "hello"

In [ ]:
print("'hii' heello")

'hii' heello

In [ ]:
print("hello 'name'")

hello 'name'

In [ ]:
print('"hello" name')

"hello" name

In [ ]:
x=10  #storing  10 in variable x or 10 assign to x or Variable are the containers that stores x value
print(x)
print('x')

10
x

In [ ]:
#Rules for making the variable

In [ ]:
# variable name can be alphabetically
xyz = 45
print(xyz)

45

In [ ]:
# variable name can be in lower or upper case
aBcDE=5
print(aBcDE)

5

In [ ]:
# variable name can be alpha numeric
abcd123 = 9
print(abcd123)

9

In [ ]:
# variable name cant start with the numbers
123xyz= 100
print(123xyz)

SyntaxError: invalid decimal literal (3211108164.py, line 2)

In [ ]:
# variable name cant contain the special characters
ab@cd=45 or @,^
print(ab@cd)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1686564891.py, line 2)

In [ ]:
# in special character only underscore can contain in your variable name
ijk_ab=9
print(ijk_ab)

9

In [ ]:
a b=9
print(a b)

SyntaxError: invalid syntax (205482689.py, line 1)

In [ ]:
_=45
print(_)

45

In [ ]:
_577 =100
print(_577)

100

In [ ]:
# Builtin in keywords cant be your variable name
as = 10 #as, in,is
print(as)

SyntaxError: invalid syntax (2295679187.py, line 2)

In [ ]:
As = 120
print(As)

120

In [ ]:
a=10
print('The values of a is',a) #string, variable

The values of a is 10

In [ ]:
# Data Types

#1. Integer  int()  ALL positive to negative numbers ex: 90 , -5 , -12
#2. Float    float()  All decimal numbers are my float ex: 50.0 , 2.1, -100.5
#3. String  str()  Anything that are in quotation alaways be my dtring ex: 'abc', '123', 'ab23^&'
#4.Boolean   bool()  True Fasle
# True

In [ ]:
#check the type of variable

In [ ]:
a = 10.5

print(type(a))

<class 'float'>

In [ ]:
c= True
print(type(c))

<class 'bool'>

In [ ]:
b= 0.45
print(type(b))

<class 'float'>

In [ ]:
c= -6.54
print(type(c))

<class 'float'>

In [ ]:
x='a'
print(type(x))

<class 'str'>

In [ ]:
z='9'

print(type(z))

<class 'str'>

In [ ]:
a=10
b='10'

print(a,type(a))
print(b,type(b))

10 <class 'int'>
10 <class 'str'>

In [ ]:
f='5.1'

print(f,type(f))
print('The data type of',f,'is',type(f))

5.1 <class 'str'>
The data type of 5.1 is <class 'str'>

In [ ]:
# Type casting

In [ ]:
#Type casting
x=34.5
y=str(x)
print('The data type of ' , y , 'is' , (type(y)))

The data type of  34.5 is <class 'str'>

In [ ]:
x = 12.5
y=int(x)
print('The data type of',y,'is',type(y))

The data type of 12 is <class 'int'>

In [ ]:
a= '10+2'
print(type(a))

<class 'str'>

In [ ]:
a=5
d = str(a)
print('The data type of',d, 'is',type(d))

The data type of 5 is <class 'str'>

In [ ]:
# convert 100 into string
# convert "45.5" into integer
#convert '5' into float
#convert 10 into string
#convert '5.5' into integer
a='5.5'
b=float(a)
c=int(b)
print(c,type(c))

5 <class 'int'>

In [ ]:
a = "45.5"
b = float(a)
c = int(b)
print('the data type of',a,'is',type(a))
print('the data type of',b,'is',type(b))
print('the data type of',c,'is',type(c))

the data type of 45.5 is <class 'str'>
the data type of 45.5 is <class 'float'>
the data type of 45 is <class 'int'>

In [ ]:
#input always give string form answer
a = input('enter the value of a ')
print(a,type(a))

enter the value of a  8.9

8.9 <class 'str'>

In [ ]:
b = int(input('enter the value of b'))
print(b,type(b))

enter the value of b 35

35 <class 'int'>

In [ ]:
c = float(input('enter the value of c '))
print(c,type(c))

enter the value of c  5.6

5.6 <class 'float'>

In [ ]:
name= str(input('enter the your name'))
print(name,type(name))

enter the your name bhavna

bhavna <class 'str'>

In [ ]:
age= int(input('enter your age'))
print(age,type(age))

enter your age 20

20 <class 'int'>

In [ ]:
Marks= float(input('enter your  marks '))
print(Marks,type(Marks))

enter your  marks  90

90.0 <class 'float'>

In [ ]:
# Operators - are my symobls that performs the certain operations

In [ ]:
# Types of Operators
#1. Arithmetic Operators
#2. Assingment Operators, Compound Assingment
#3. Comparison Operators
#4. Logical Operatora
#5. Identity Operatoras
#6. Membership Operators

In [ ]:
# Arithmetic Operators - are responsible for mathematical calc
# Addition +
# Subtraction -
# Multiplicationb *
# Single Division /
# Double Division //
# Modulus %
# Exponential **

In [ ]:
a = int(input('enter a '))
b = int(input('enter b '))

enter a  4
enter b  5

In [ ]:
print(a)
print(b)

4
5

In [ ]:
print('The Addition of',a,'+',b,'=',a+b)
print(a-b)
print(a*b)

The Addition of 4 + 5 = 9
-1
20

In [ ]:
print(a/b) # always retuirn in float
print(a//b) # always return in integer
print(a%b) # always return remainder
print(a**b) #(b) power a return factorial

0.8
0
4
1024

In [ ]:
a=10
b=10

print(a/b)
print(a%b)
print(a//b)

1.0
0
1

In [ ]:
x=3
y=10
print(x%y)
print(x//y)
print(x/y)

3
0
0.3

In [ ]:
### BODMAS

In [ ]:
# pRECDENCE OF oPERATOR
# P E M D A S
# () , ** , * , / , // , % , + , -

In [ ]:
a=10
b=10
c=a-30+b
print(c)

In [ ]:
exp = 1+4*3/2-2
print(exp)

5.0

In [ ]:
# calculate the area of rectangle in which you take length and breadth as input

l=int(input('enter length '))
b=int(input('enter breadth '))
area=l*b
print('Area of Rectangle',area)

enter length  6
enter breadth  8

Area of Rectangle 48

In [ ]:
# Assingent operatop are responsible fopr assigning values to my variable

# =

In [ ]:
a = 10
print(a)

10

In [ ]:
# Compound Assingment

In [ ]:
a=10
a += 5 #a = a+5
print(a)

15

In [ ]:
y=7
y-=y  # y = y-y
print(y)

0

In [ ]:
z=2
z **=3  # z = z**3
print(z)

8

In [ ]:
x=5
x *=2 # x = x*2
print(x)

10

In [ ]:
# COmparison Operator - are responsible for comparing the values of the variable
# equal to ==
# Not equal to !=
# greater than >
# lesser than <
# greater than equal to  >=
# lesser than equal to <=

In [ ]:
a=30
b=40

# print(a!=b)
# print(a>b)
# print(a==b)
# print(a<b)
# print(a>=b)
# print(a<=b)

In [ ]:
x=5
y=5

# print(x!=y)
# print(x>y)
# print(x<y)
print(x>=y)
print(x<=y)
print(x==y)

True
True
True

In [ ]:
# Logical Operator - resposible for comparing the boolean values of the variable
# and - when both conditions are True then result will be True
# or - when any one Conditon,or both conditon is True then result will be True
# not - it reverts the conditons
        # True-----False
        # False---True

In [ ]:
a=True
b=False
c=True
d=False

# print(a and b)
# print(b and d)
# print(a and c)
# print(a or b)
# print(b or d)
# print(a or c)
print(not a)
print(not b)

False
True

In [ ]:
# Identity Operator - it is used to compare tbhe address of the variable
#system->memory->RAM->address , 1 bits memory->2 ki power 8 =256 ,binary no. ->0,1

#is

In [ ]:
a = 10
b = 10.0

print(a==b)
print(a is b)

True
False

In [ ]:
print(id(a))
print(id(b))

140729648753368
2943417394512

In [ ]:
x=10
y=10

print(x is y)
print(id(x))
print(id(y))

True
140729648753368
140729648753368

In [ ]:
s=100
d=100

print(s is d)
print(id(s))
print(id(d))

True
140729648756248
140729648756248

In [ ]:
e=250
f=250
print(e is f)
print(id(e))
print(id(f))

True
140729648761048
140729648761048

In [ ]:
a = 256
b= 256
print(a is b)
print(id(a))
print(id(b))

True
140729648761240
140729648761240

In [ ]:
c= 257
e= 257
print(c is e)
print(id(c))
print(id(e))

False
2943432091280
2943432090704

In [ ]:
# Membership Operator - it is used to check the paricular character is the part of the string or not

# in

In [ ]:
z = 'Bhavna'

print('a' in z)
print('h' in z)
print('D' in z)

True
True
False

In [ ]:
#Assignment

In [ ]:
print('\n')

In [ ]:
print('\\n')

\n

In [ ]:
# 1.	Write a Python program which accepts the radius of a circle from the user and compute the area.
#  formulae to calculate area of circle:  πr²

r = int(input('enter radius '))
pi = 3.14
area = pi*r**2
print(area)

enter radius  4

50.24

In [ ]:
# 2.	Write a Python program to get the volume of a sphere with radius 6.
# formulae to calculate volume of sphere:  4/3 𝜋 r³

pi = 3.14
r = 6
V = 4/3 * pi * r**3
print('The volume of the sphere is: ', V)

The volume of the sphere is:  904.3199999999999

In [ ]:
# 3.	Write a Python program to calculate the sum of three equal numbers, and the result is the three times of their sum.
# 3
n = int(input('enter n '))
res = 3*(n+n+n)
print(res)

enter n  5

45

In [ ]:
# 4.	Write a Python program that will accept the base and height of a triangle and compute the area
# formulae to calculate area of triangle:  1/2 base * height

b=int(input('enter b'))
h=int(input('enter h'))

area=1/2**(b*h)
print(area)

enter b 5
enter h 3

3.0517578125e-05

In [ ]:
# 5.	 Write a Python program to solve (x + y) * (x + y)
# Test Data : x = 4, y = 3
# Expected Output :   49
x = int(input('enter x '))
y = int(input('enter y '))

op= (x + y) * (x + y)
print(op)

enter x  4
enter y  3

49

In [ ]:
# 6.	Write a Python program to compute the simple interest of a specified principal amount, rate of interest, and a number of years.
# Test Data : amt = 10000, int = 3.5, years = 7
p= float(input('enter p'))
y = float(input('enter y'))
r= float(input('enter r'))
si = (p * y * r)/ 100
print ("Simple Interest= ", si)

enter p 10000
enter y 7
enter r 3.5

Simple Interest=  2450.0

In [ ]:
# 7.	Write a Python program to convert (parse) a string to Float or Integer.
# Test Data : "246.2458"
# Expected Output : 246

a = "246.2458"
b = float(a)
c = int(b)
print('the data type of',a,'is',type(a))
print('the data type of',b,'is',type(b))
print('the data type of',c,'is',type(c))

the data type of 246.2458 is <class 'str'>
the data type of 246.2458 is <class 'float'>
the data type of 246 is <class 'int'>

In [ ]:
# 8.	Write a Python program to calculate the hypotenuse of a right angled triangle.
# Formulae : c2 = a2 + b2,

a = int(input('enter a '))
b = int(input('enter b '))

c = (a**2 +b**2)**0.5
print(c)

enter a  2
enter b  3

3.605551275463989

In [ ]:
# 9.	Write a Python program to swap two variables
# Test Data : a = 77, x= 1
# Expected Output : a= 1, x=77

a=77
x=1
z=x
x=a
a=z
#a,x=x,a
print('a',a)
print('x',x)

a 1
x 77

In [ ]:
# 10.	Write a Python program to calculate the cube of any number which was taken by input.
n=int(input('enter n'))
print(n**3)

enter n 2

8

In [ ]:
#Conditional statement

In [ ]:
print('hello')
print('hiii')
print('heyy')

hello
hiii
heyy

In [ ]:
if condition:
    stmnt
else:
    stmmt

In [ ]:
n = int(input('enter n '))
if n > 0:
    print(n,'is positive')

else:
    print(n,'is negative')

enter n  4

4 is positive

In [ ]:
n = int(input('enter n '))
if n%2==0:
    print(n,'is even')
else:
    print(n,'is odd')

enter n  4

4 is even

In [ ]:
# multiple conditions

# if con:
#     stmnt

# elif con:
#     stmnt

# elif con:
#     stmnt

# else:
#     stmnt

In [ ]:
a =int(input('enter a '))
b = int(input('enter b '))

if a>b:
    print(a,'is greater than',b)
elif a==b:
    print(a,'is equal to',b)
else:
    print(b,'is greater than',a)

enter a  4
enter b  6

6 is greater than 4

In [ ]:
n=int(input('enter n '))

if n>0:
    print(n,'is +ve')
elif n==0:
    print(n,'is neutral ')
else:
    print(n,'is -ve')

enter n  0

0 is neutral

In [ ]:
n=input('entrer alpahbet  ')

if n=='a' or n=='e' or n=='i' or n=='u' or n=='o':
    print('vowels')
else:
    print('consonants')

entrer alpahbet   k

consonants

In [ ]:
a =int(input('enter a '))
b = int(input('enter b '))

c = input('enter operator ')

if c =='+':
    print(a+b)

elif c=='-':
    print(a-b)

elif c=='*':
    print(a*b)

else:
    print('invalid')

enter a  4
enter b  5
enter operator  +

9

In [ ]:
a =int(input('enter a '))
b = int(input('enter b '))
c = int(input('enter c'))

if a>b and  a>c:
    print(a,'is greater than',b,'and',c)

elif b>a and b>c:
    print(b,'is greater than',a,'and',c)

else:
    print(c,'is greater than',a,'and',b)

enter a  4
enter b  5
enter c 1

5 is greater than 4 and 1

In [ ]:
# m = ?
# M 90- 100 A
# M 70 - 90 B
# M 50 70 C
# M 30-50 D
# M leeser than 30 E

In [ ]:
m=int(input('enter marks '))
if m>90 and m<=100:
    print('A')
elif m>70 and m<=90:
    print('B')
elif m>50 and m<=70:
    print('C')
elif m>30 and m<=50:
    print('D')
else:
    print('E')

enter marks  54

C

In [ ]:
#day =?
# saaturday, sunday ---- Weekend
# monday ,tuesday , wednesday ---------- Weekday
# invalid

In [ ]:
day = input('enter day ')

if day=='sunday' or day=='saturday':
    print('Weekend')

elif day=='monday' or day=='tuesday' or day=='wednesday':
    print('Weekday')



else:
    print('invalid')

enter day  tuesday

Weekday

In [ ]:
# sal = ?
# sal 25k lesser 0%Tax --------Net sal
# sal 25k-----50k ----10%tax---------Net sal
# sal 50K---------100k---------20%tax-------Net sal
# sal 100k greagte -----------50% tax ----------Net sal

In [ ]:
sal = int(input('enter sal '))

if sal<25000:
    print('Net salary',sal-(sal*0)/100)
elif sal>=25000 and sal <50000:
    print('Net salary',sal-(sal*10)/100)

elif sal >=50000 and sal <=100000:
    print('Net salary',sal-(sal*20)/100)
else:
    print('Net salary',sal-(sal*50)/100)

enter sal  200000

Net salary 100000.0

In [ ]:
# n= ?
# n - 5 , 7 divibly by both 5 and 7
# n - 5 divi by only 5
# n - 7 divi by 7 only
# none of them

In [ ]:
n = int(input('enter n '))

if n%5==0 and n%7==0:
    print(n,'is div by both 5 and 7')

elif n%5==0:
    print(n,'is divi by 5 only')
elif n%7==0:
    print(n,'is divi by 7 only')

else:
    print('NOne of them')

enter n  6

NOne of them

In [ ]:
# Nested Conditions
# if con:
#     if con:
#         stmnt
#     elif con:
#         stmnt
#     else:
#         stmnt
# elif con:
#     if con:
#         stmnt
#     elif con:
#         stmnt
#     else:
#         stmnt
# else:
#     if con:
#         stmnt
#     elif con:
#         stmnt
#     else:
#         stmnt

In [ ]:
n = int(input('enter n '))
if n%5==0:
    if n%7==0:
        print(n,'is divisblr by both 5 and 7 ')
    else:
        print(n,'is divisbly by 5 only')

elif n%7==0:
    print(n,'is divisbly by 7 only')

else:
    print('None ofd them')

enter n  28

28 is divisbly by 7 only

In [ ]:
# w=?
# sunny temp - 30 - 50 Play otherwise not play
# winter temp 10 - 20  play otherwise not play
# rainy con - heavy Not play otherwise play
# invalid

In [ ]:
w =input('enter weather ')
if w =='sunny':
    t = int(input('enter temp '))
    if t>=30 and t<=50:
        print('Play')
    else:
        print('Not Play')

elif w=='winter':
    t = int(input('enter temp '))
    if t>=10 and t<=20:
        print('Play')
    else:
        print('Not Play')

elif w=='rainy':
    c = input('enter rainy conditon ')
    if c=='heavy':
        print('Not Play')
    else:
        print('Play')
else:
    print('invalid')

enter weather  winter
enter temp  5

Not Play

In [ ]:
# n =?
# n is odd then it display Weired
# n is even also in between 2 to 5 then it display Not weired
# n is even also in between 5 to 20 then it display Weired
# n is even also greater than 20 then it display Not weired

In [ ]:
n= int(input('enter n '))
if n%2!=0:
    print('Weired')

else:
    if n>=2 and n<5:
        print('Nort weired')
    elif n>5 and n<=20:
        print('Weired')
    else:
        print('Not weired')

enter n  18

Weired

In [ ]:
# order =?
# pizza - top =? vegiies , corn ,cheese
# burger - cat - veg , non - veg

In [ ]:
print('Available Items pizza, burger , pasta')
order = input('enter place your order ')
if order == 'pizza':

    top=input('select toppings veggies , corn , cheese ')

    if top=='veggies':
        print('your',top,order,'price is 120')
    elif top=='corn':
        print('your',top,order,'price is 150')
    elif order=='cheese':
        print('youir',top,order,'price is 180')
    else:
        print(top,order,'is not availablr')

elif order =='burger':
    cat = input('select category ')

    if cat=='veg':
        print('your',cat,order,'price is 80 ')

    else:
        print('your',cat,order,'price is 140')


else:
    print(order,'not in a menu')

Available Items pizza, burger , pasta

enter place your order  pasta

pasta not in a menu

In [ ]:
# pin = ? # 1234
# bal = 1000

# press 1 for check balance
# press 2 for deposit
# press 3 for withdrawl

# opt = ? 1
# opt = 2 amt =?
# opt = 3 amt =?
# opt 45
# incorrect pin

In [ ]:
print('Welcome to SBI ATM ')
bal = 1000
pin=int(input('enter pin '))

if pin==1234:
    print('Press 1 for check bal ')
    print('Press 2 for Deposit')
    print('Press 3 for withdrawl')

    opt = int(input('Press the button '))
    if opt == 1:
        print('your current balanace is',bal)

    elif opt==2:
        amt = int(input('enter amount to depsoit '))
        print('your final balance is',bal+amt)

    elif opt==3:
        amt=int(input('enter amt to withdrawl '))
        if amt <=bal:
            print('your finala balance is',bal-amt)
        else:
            print('Insufficient amount')

    else:
        print('Not an optiuon')

else:
    print('Incorrect pin')

Welcome to SBI ATM

enter pin  1234

Press 1 for check bal
Press 2 for Deposit
Press 3 for withdrawl

Press the button  3
enter amt to withdrawl  4578903

Insufficient amount

In [ ]:
# Assignment 2

In [ ]:
# 1.	write a program to check the number is positive or negative or zero
#Check if a number is positive, negative, or zero
n = int(input('enter n'))
if n>0:
  print('positive')
elif n<0:
   print('negative')
else:
   print('zero')

enter n 3

positive

In [ ]:
# 2.	write a program to take a username and password from the user and if it matches with 'pramod123' and '123456789'. welcome to the website else report invalid username and password
#Username and password check
username =input('enter username')
password =input('enter password')

if username =='pramod123' and password =='123456789':
    print('welcome to the website')
else:
    print('invalid username and password')

enter username bhavna
enter password bhavna124

invalid username and password

In [ ]:
# 3 The given number is of one digited or two digited or three digited or more than three digited..
# INPUT: 945
# OUTPUT: Three digit number
#Digit check (one, two, three, or more digits)
#method1
# n=int(input('enter n'))

# if -9<=n<=9:
#       print('one digit n')
# elif -99<=n<=99:
#       print('two digit n')
# elif  -999 <=n<=999:
#       print('three digit n')
# else :
#       print('more than three digit number')


#method 2
n=int(input('enter n'))
if n>0 and n<10:
    print('one digit number')
elif n>=10 and n<100:
    print('two digit number')
elif n>=100 and n<1000:
    print('three digit number')
else:
    print('More than three digit number')

enter n -9

More than three digit number

In [ ]:
# 4.	Write a python program to check The entered number is smallest 4 digit number or not..
n=int(input('enter n'))
if n==1000:
    print('it is the smallest 4-digit number')
else:
    print('it is not the smallest 4-digit number')

enter n 999

it is not the smallest 4-digit number

In [ ]:
# 5.	Write a python program to take the three numbers as input and find the largest number.
#find the largest among three numbers
a= int(input('enter first number'))
b=int(input('enter second number'))
c=int(input('enter third number'))

if a>=b and a>=c:
      print('largest number is',a)
elif b>=c:
     print('largest number is',b)
else:
     print('largest number is',c)


#Quues a,b,c input greater no.
if a>b and a>c:
    print(a,'is greater')
elif b>s and b>c:
    print(b,'is greater')
else:
    print(c,'is greater')

#ques the givn number is divisible by 5
n= int(input('enter n'))
if n%5==0:
    print('No. is div by 5')
else:
    print('no. is div by 5')


#ques find maximum number  out of given three numbers.
n1= int(input('enter n1'))
n2= int(input('enter n2'))
n3= int(input('enter n3'))
if n1>n2 and n1>n3:
    print('No.1 is max ')
elif n2>n1 and n2>n3:
    print('No.2 is max' )
elif n3>n1 and n3>n2:
    print('No.3 is max' )
else:
    print('All are equal')

enter first number 8
enter second number 99
enter third number 56

largest number is 99

In [ ]:
# 6.	Write a python  program that reads three positive numbers a, b, c and determines whether they can form the three sides of a triangle.
# HINT: in triangle the sum of two side is greater than third side

#Check if three numbers can form a triangle
a=int(input('enter side a'))
b=int(input('enter side b'))
c=int(input('enter side c'))

if a+b>c and a+c>b and b+c>a:
    print('These can form a triangle')
else:
    print('cannot form a triangle')

enter side a 2
enter side b 3
enter side c 4

These can form a triangle

In [ ]:
# 7.	write a python to check  Whether the triangle will be an obtuse-angle, or a right-angle or an acute-angle triangle.
# HINT:
# In Right angle triangle the square of the length of the longest side of a triangle is equal to the sum of the squares of the other two sides

# In Obtuse Triangle  the sum of the squares of the two shorter sides of a triangle is smaller than the square of the longest side, the triangle is obtuse.

# In Acute angle triangle the sum of the squares of the two shorter sides of a triangle is greater than the square of the longest side, the triangle is acute

a=int(input('enter no1'))
b=int(input('enter no1'))
c=int(input('enter no1'))
square_a =a**2
square_b = b**2
square_c = c**2
if square_a == square_c + square_b or  square_b == square_a + square_c or square_c == square_a + square_b:
    print('Right-angled Triangle') #3,4,5
elif square_a > square_c + square_b or  square_b > square_a + square_c or  square_c > square_a + square_b:
    print('Obtuse-angled Triangle') #2,3,4
else:
    print('Acute-angled Triangle') #7,8,9

enter no1 3
enter no1 7
enter no1 5

Obtuse-angled Triangle

In [ ]:
# 8.	Write a python program  to check the triangle , is equilateral, isosceles, or scalene.
# HINT:
# In Equilateral triangle all three sides are equal
# In isosceles triangle any two side are equal
# In scalene triangle all three side are unequal

#Check if triangle is equilateral,isosceles,or scalene

a=int(input('enter side a'))
b=int(input('enter side b'))
c=int(input('enter side c'))

if a==b==c:
    print('Equilateral triangle')
elif  a==b or b==c or a==c:
    print('Isosceles triangle')
else:
    print('Scalene triangle')

enter side a 3
enter side b 4
enter side c 2

Scalene triangle

In [ ]:
# 9.	A toy vendor supplies three types of toys: Battery Based Toys, Key-based Toys, and Electrical Charging Based Toys.
#The vendor gives a discount of 10% on orders for battery-based toys if the order is for more than Rs. 1000.
#On orders of more than Rs. 100
#for key-based toys, a discount of 5% is given, and a discount of 10% is given on orders for electrical charging based toys of value more than Rs. 500.
#Assume that the numeric codes 1,2 and 3 are used for battery based toys, key-based toys, and electrical charging based toys respectively.
#Write a program that reads the product code and the order amount and prints out the net amount that the customer is required to pay after the discount.
#Top vender discount calcultion
code=int(input('enter product code (1-Battery,2-key,3-Electrical'))
amount =float(input('enter order amount'))

if code ==1 and amount >1000:
    discount =amount *0.10
elif code ==2 and amount>100:
    discount =amount>0.05
elif code ==3 and amount >500:
    discount =amount>0.10
else:
    discount =0
net_amount =amount -discount
print('Net amount to pay :Rs',net_amount)

#Method2
print('Press 1. For Battery based Toys')
print('Press 2. For Key based Toys')
print('Press 3. Electric chargin based Toy')
opt =int(input('Enter the product code (1-Battery,2-key,3-Electrical'))
amount =float(input('enter order amount'))

if opt==1:
    print('you have selected a battery based toy')
    if amt>1000:
          dis = amt * 0.1
    else:
        dis = 0
elif opt==2:
     if amt>100:
          dis = amt * 0.05
    else:
        dis = 0
elif opt==3:
     if amt>500:
          dis = amt * 0.1
    else:
        dis = 0
else:
     print('Product is not avaiabe')
bill_amt = amt - dis
print('Customer has to pay : ' ,bill_amt)

enter product code (1-Battery,2-key,3-Electrical 12
enter order amount 23

Net amount to pay :Rs 23.0

In [ ]:
# 10 A function f is defined as follows :
#         f(x)   =    ax3 – bx2 + cx –d,                  if x > k
#         f(x)          =    0,                                   if x = k
#         f(x)  =    -ax3 + bx2 – cx +d,                 if x <k

#Function f(x) based on value of x and k
a = int(input('enter a'))
b = int(input('enter b '))
c = int(input('enter c'))
d = int(input('enter d '))
x = int(input('enter x '))
k = int(input('enter k'))

if x > k:
    fx = a*x**3 - b*x**2 + c*x - d
elif x == k:
    fx = 0
else:
    fx = -a*x**3 + b*x**2 - c*x + d

print("f(x) =", fx)

enter a 3
enter b  4
enter c 2
enter d  4
enter x  1
enter k 8

f(x) = 3

In [ ]:
# 11 The Paschim Gujarat Vij Company Ltd. computes the electricity bill based on the following table:
# Units Consumed	Charges
# 0-100         	0.50 per unit
# 101-200	Rs. 50 plus Rs. 1 per unit over 100 units
# 201-300	Rs. 150 plus 1.50 per unit over 200 units
# > 300	    Rs. 300 plus Rs.2 per unit over 300 units

# 1.	Ask user to enter the Past meter reading and current meter reading.
# 2.	Find the units consumed.
# 3.	Compute the bill according to given matrix.

#Electricity bill calculator
past = int(input('enter past meter reading'))
current = int(input('enter current meter reading'))

units = current - past

if units <= 100:
    bill = units * 0.5
elif units <= 200:
    bill = 50 + (units - 100) * 1
elif units <= 300:
    bill = 150 + (units - 200) * 1.5
else:
    bill = 300 + (units - 300) * 2

print('Electricity bill Rs.', bill)



#method2
old__reading =int(input('Enter past meter reading'))
new__reading =int(input('Enter current meter reading'))
used__reading = new_reading -old reading
print('My used_reading', used reading )
if used_reading>0 and   used_reading <= 100:
    bill_amt = used_reading * 0.5
elif used_reading>100 and   used_reading <= 200:
    bill_amt =50 + (used_reading) * 1
elif used_reading>200 and   used_reading <= 300:
    bill_amt = 150 + (used_reading) * 1.5
else:
    bill_amt = 300 + (used_reading) * 2
print('The bill amount is', bill_amt)

enter past meter reading 2
enter current meter reading 4

Electricity bill Rs. 1.0

In [ ]:
wo =int(input('enter working days'))
ab = int(input('enter absent days'))
if wo>ab:
    pr =wo-ab
    percent =(pr/wo*100)
    if percent>75:
        print('Not detained')
    else:
        print('detained')
else:
    print('invalid')

enter working days 10
enter absent days 10

invalid

In [ ]:
print('hii')
print('hey')
print('hello')

hii
hey
hello

In [ ]:
print('h')
print('e')
print('l')
print('l')
print('o')

h
e
l
l
o

In [ ]:
# Loops
# 1. for loop
#2. while loop

In [ ]:
# for loop
# a.) when i want to iterate ina given iterable we use for loop for it
     # whe i want to move character by characrter in a given sequence we use for loop for it

#b.) when i want to do the task at certain number of times we uswe for loop foir it

In [ ]:
x = 'aman'
for i in x:
    print(i)

a
m
a
n

In [ ]:
x = 'aman'
for i in x:
    print(i)

print('bye')

a
m
a
n
bye

In [ ]:
x = 'bhavna'
for i in x:
    print(x)

bhavna
bhavna
bhavna
bhavna
bhavna
bhavna

In [ ]:
x = 'aman'
for i in x:
    print(i)
    print('hii')

print('bye')

a
hii
m
hii
a
hii
n
hii
bye

In [ ]:
n=input('enter n')
for i in n:
    print(i)
print('bye')

enter n 2

2
bye

In [ ]:
y= 'ant'
for j in y:
    print(y)
    print('hello')
print('hii')

ant
hello
ant
hello
ant
hello
hii

In [ ]:
z='owl'
for i in z:
    print(z)
    print(i)
print('hii')

owl
o
owl
w
owl
l
hii

In [ ]:
n='hii'
for i in n:
    print(n)

print('hii')

hii
hii
hii
hii

In [ ]:
a=1234

for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
n=input('enter n ')
for i in n:
    print(i)
print('bye')

enter n  bhavna

b
h
a
v
n
a
bye

In [ ]:
n='aman'
c=0
for i in n:
    c=c+1
    print(c)

1
2
3
4

In [ ]:
n='aman'
c=0
for i in n:
    c=c+1
    print(c)

1
2
3
4

In [ ]:
n=input('entert n ')
c=0
for i in n:
    c=c+1
    print(i,'---',c)

entert n  bhavna

b --- 1
h --- 2
a --- 3
v --- 4
n --- 5
a --- 6

In [ ]:
n=input('enter n')
c=0
for i in n:
    c=c+1

print(c)

enter n bhavna

6

In [ ]:
L= [1,2,3,4,5,6,7,8,9,0]
c=0
for i in L:
    c=c+1
print(c)

10

In [ ]:
L=[1,2,3,4,5,6,7,8,9,0]
s=0
for i in L:
    s=s+i

print(s)

45

In [ ]:
L=[1,2,3,4,5,6,7,8,9,0]
s=0
for i in L:
    s=s+i
    print(s)

1
3
6
10
15
21
28
36
45
45

In [ ]:
#Find the average of the list
L= [1,2,3,4,5,6,7,8,9,0]
s=0
c=0
for i in L:
    s=s+i
    c=c+1
print(s/c)

4.5

In [ ]:
#Find the squareof the list
L= [1,2,3,4,5,6,7,8,9,0]
for i in L:
    print(i,i**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
0 0

In [ ]:
#Find the sum of square of the list
L= [1,2,3,4,5,6,7,8,9,0]
s=0
for i in L:
    s=s+i**2

print(s)

285

In [ ]:
#count the even and odd of the list
L=[1,2,3,4,5,6,7,8,9,0]
e=0
o=0
for i in L:
    if i%2==0:
        e=e+1
    else:
        o=o+1
print('count of even',e)
print('count of odd ',o)

count of even 5
count of odd  5

In [ ]:
#count and sum of the even and odd of the list
L= [1,2,3,4,5,6,7,8,9,0]
e=0
ce=0
o=0
co=0
for i in L:
    if i%2==0:
        e=e+i
        ce=ce+1
    else:
        o=o+i
        co=co+1



print('sum of even',e/ce)
print('sum of odd',o/co)

sum of even 4.0
sum of odd 5.0

In [ ]:
#count the even and odd of the list
L=[1,2,3,4,5,6,7,8,9,0]
e=0
o=0
for i in L:
    if i%2==0:
        e=e+1
    else:
        o=o+1
print('count of even',e)
print('count of odd ',o)

count of even 5
count of odd  5

In [ ]:
#count the even square and odd cube of the list
L=[1,2,3,4,5,6,7,8,9,0]
e=0
ce=0
o=0
co=0

for i in L:
    if i%2==0:
        e=e+i
        ce=ce+1
    else:
        o=o+i
        co=co+1

print('avgof even',e/ce)
print('avg of odd ',o/co)

avgof even 4.0
avg of odd  5.0

In [ ]:
n = input('enter n ')
v=0
c=0
for i in n:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        v=v+1
    else:
        c=c+1
print(v)
print(c)

enter n  apple

2
3

In [ ]:
#While loop
#b.)when i want to do the task at certain number of times we use we for loop for it

In [ ]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
n=int(input('enter n'))
for i in range(1,n+1):
    print(i)

enter n 9

1
2
3
4
5
6
7
8
9

In [ ]:
n=int(input('enter n'))
for i in range(1,n+1):
    print(i)

enter n 10

1
2
3
4
5
6
7
8
9
10

In [ ]:
n=int(input('enter n'))
for i in range(1,n+1):
    print('hello', i)

enter n 3

hello 1
hello 2
hello 3

In [ ]:
#SUM
n=int(input('enter n'))
s=0
for i in range(1,10+1):
    s=s+i
print(s)

enter n 10

55

In [ ]:
#average
n=int(input('enter n'))
s=0
c=0
for i in range(1,n+1):
    s=s+i
    c=c+1
print(s/c)
# or
# print(s/n)

enter n 10

5.5

In [ ]:
#sum of square even no. and cube sum of odd number
n=int(input('enter n'))
e=0
o=0
for i in range(1,n+1):
    if i%2==0:
         e=e+i**2
    else:
        o=o+i**3
print('sum of even',e)
print('sum of odd ',o)

enter n 3

sum of even 4
sum of odd  28

In [ ]:
#Table
n=int(input('enter n'))
for i in range(1, 11):
    print(n*i)

enter n 5

5
10
15
20
25
30
35
40
45
50

In [ ]:
#table explain
n=int(input('enter n'))
for i in range(1, 11):
    print(n,'*',i,'=',n*i)

enter n 7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
#factorial
n=int(input('enter n'))
f=1
for i in range(1, n+1):
    f=f*i
print(f)

enter n 4

24

In [ ]:
#Prime no.
n=int(input('enter n'))
c=0
for i in range(1,n+1):
   if n%i==0:
       c=c+1

if c==2:
    print(n,'is prime')
else:
    print(n,'is not prime')

enter n 2

2 is prime

In [ ]:
#find avg in input no.
n = int(input('enter n'))
s=0
for i in range(1,n+1):
    a = int(input('enter a'))
    s=s+a
print(s/n)

enter n 3
enter a 100
enter a 1
enter a 2

34.333333333333336

In [ ]:
#reverse series
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
for i in range(1,10,3):
    print(i)

1
4
7

In [ ]:
for i in range(10,1,-4):
    print(i)

10
6
2

In [ ]:
#while Loops-- when i want to do the task till the condition is True
while cond:
  stmnt

In [ ]:
c=0
while c<4:
  c=c+1
  print(c)

1
2
3
4

In [ ]:
c=0
while c<4:
  print(c)
  c=c+1

0
1
2
3

In [ ]:
c=0
while c<4:
  print(c)
  c=c+1

0
1
2
3

In [ ]:
c=0
while c<=4:
  c=c+1
  print(c)

1
2
3
4
5

In [ ]:
c=0
while c<=4:
  c=c+1
  print(c)

1
2
3
4
5

In [ ]:
#infinite loop
c=0
while c<=4:
  #c=c+1
  print(c)

In [ ]:
#infinite loop
c=1
while c>0:
  print(c)
  c=c+1

In [ ]:
c=int(input('enter c'))
while c!=0:
  print('hello')
  c=int(input('enter n'))

In [ ]:
c=0
while c<10:
  c=c+1
  print(c)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#reverse counting
c=10
while c>0:
  print(c)
  c=c-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#input no.
n= int(input('enter n'))
c=0
while c<n:
  c=c+1
  print(c)

enter n4
1
2
3
4

In [ ]:
#reverse counting
n=int(input('enter n '))
c=0
while n>c:
  print(n)
  n=n-1

enter n 10
10
9
8
7
6
5
4
3
2
1

In [ ]:
#sum of the input no.
n=int(input('enter n'))
c=0
s=0
while c<n:
  c=c+1 #c+=1
  s=s+c #s+=c
print(s)

enter n5
15

In [ ]:
#avg of the input no.
n=int(input('enter n'))
c=0
s=0
while c<n:
  c=c+1
  s=s+c #s+=c
print(s/n)

enter n6
3.5

In [ ]:
#WAP to print the sum andd count of the even and odd number respectively.
n=int(input('enter n '))
c=0
e=0
ce=0
se=0
o=0
co=0
so=0
while c<n:
  c=c+1
  if c%2==0:
    e=e+1
    ce=ce+1
    se=se+c

  else:
    o=o+1
    co=co+1
    so=so+c

    print(se,ce,so,co)
print('sum of even no.',ce,se)
print('sum of odd no.',co,so)

enter n 5
0 0 1 1
2 1 4 2
6 2 9 3
sum of even no. 2 6
sum of odd no. 3 9

In [ ]:
#table print  of the input no.
n=int(input('enter n'))
c=0
while c<10:
  c=c+1
  print(n*c)

enter n5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#table print  of the input no.
n=int(input('enter n'))
c=0
while c<10:
  c=c+1
  print(n,'*',c,'=',n*c)

enter n5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#factorial of the input no.
n=int(input('enter n  '))
f=1
c=0
while c<n:
  c=c+1
  f=f*c
print(f)

enter n  5
120

In [ ]:
#Prime of the input no.
n=int(input('enter n  '))
c=0
p=0
while c<n:
  c=c+1
  if n%c==0:
    p=p+1
if p==2:
  print('prime')
else:
  print('not prime')
print(s)

enter n  5
prime
21

In [ ]:
456//10

45

In [ ]:
45//10

4

In [ ]:
5//10

0

In [ ]:
#count the digit of the input no.
n=int(input('enter n'))
c=0
while n>0:
  n=n//10
  c+=1
print(c)

enter n457
3

In [ ]:
#reverse input no.
n= 456 #654

In [ ]:
321%10

1

In [ ]:
32%10

2

In [ ]:
3%10

3

In [ ]:
321//10

32

In [ ]:
32//10

3

In [ ]:
3//10

0

In [ ]:
#reverse input no.
n= 321 #123
rev=0
while n>0:
  d=n%10
  rev=rev*10+d
  n=n//10
print(rev)

123

In [ ]:
#Palindrome
n = int(input('enter n'))
rev = 0
x = n
while n>0:
  d = n%10
  rev = rev*10+d
  n = n//10
print(rev)

if x==rev:
  print('palindrome')
else:
  print('not palindrome')

enter n121
121
palindrome

In [ ]:
#Jumps Statement

In [ ]:
# break
# continue
# pass

In [ ]:
#Break
for i in range(10):
    if i==4:
        break
    print(i)

0
1
2
3

In [ ]:
for i in range(10):
    if i==4:
        print(i)
        break
    print(i)

0
1
2
3
4

In [ ]:
for i in range(2,10):
    print(i)
    if i==4:

        break
    print(i)

print('bye')

2
2
3
3
4
bye

In [ ]:
for i in range(1,6):
    if i==3:
        print('hello')
        break

    print(i)

1
2
hello

In [ ]:
for i in range(10):
    if i==3:
        break
    print(i)
print('bye')

0
1
2
bye

In [ ]:
for i in range(10):
    print(i)
    if i==3:
        break
print('bye')

0
1
2
3
bye

In [ ]:
for i in range(10):
    print(i)
    if i==3:
        break
print('bye')

0
1
2
3
bye

In [ ]:
for i in range(10):
    print(i)
    if i==3:
        break
    print(i)
print('bye')

0
0
1
1
2
2
3
bye

In [ ]:
for i in range(10):
    if i==3:
        break
        print('hello')
    print(i)
print('bye')

0
1
2
bye

In [ ]:
for i in range(10):
    if i==3:
        print(i)
        break
        print('hello')

print('bye')

3
bye

In [ ]:
x=1
while x<=10:
    print(x)
    if x==5:
        break
    x=x+1

print("This statement will print after the loop..")

1
2
3
4
5
This statement will print after the loop..

In [ ]:
list = [1,2,3,4,5,6]
s=0
c=0
for num in list:
        print(num)
        s+=num
        c+=1
        if c==3:
             break
print("sum is",(s))

1
2
3
sum is 6

In [ ]:
x=0
while x<=7:
    x=x+1
    if x==5:
        break
    print(x)

print("This statement will print after the loop..")

1
2
3
4
This statement will print after the loop..

In [ ]:
s=0
c=0
while c < 6:
    s+=c
    c+=1
    if(c == 5):
        break
    print("count is:",(c))
print("sum is:",(s))

count is: 1
count is: 2
count is: 3
count is: 4
sum is: 10

In [ ]:
s=0
c=0
while c < 6:
    s+=c
    c+=1
    if(c == 3):
        break
print("sum is",(s))

sum is 3

In [ ]:
for i in range(1,6):
    if i==3:
        break
    print(i)
else:
    print('hello')
print('hii')

1
2
hii

In [ ]:
n=12345
for i in n:
    print(i)
    if i==2:
        print(i)
        break
        print('hello')
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
#Continue

for i in range(1,6):
    if i==3:
        continue
    print(i)

1
2
4
5

In [ ]:
for i in range(1,6):
    if i==3:
        print(i)
        continue
    print(i)

1
2
3
4
5

In [ ]:
for i in range(1,6):
    print(i)
    if i==3:
        print(i)
        continue

1
2
3
3
4
5

In [ ]:
for i in range(1,5):
    print(i)
    if i==3:

        continue
        print(i)

1
2
3
4

In [ ]:
for i in range(1,7):
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [ ]:
for i in range(1,7):
    print(i)
    if i==3:
        continue

1
2
3
4
5
6

In [ ]:
for i in range(1,6):
    print(i)
    if i==3:
        continue
    print(i)

1
1
2
2
3
4
4
5
5

In [ ]:
for i in range(1,6):

    if i==3:
        continue
        print('hello')
print('bye')

bye

In [ ]:
for i in range(1,6):

    if i==3:
        print(i)
        continue
        print('hello')
print('bye')

3
bye

In [ ]:
x=0
while x<=7:
    x=x+1
    if x==5:
        continue
    print(x)

print("This statement will print after the loop..")

1
2
3
4
6
7
8
This statement will print after the loop..

In [ ]:
s=0
c=0
while c < 6:
    s+=c
    c+=1
    if(c == 5):
        continue
    print("count is:",(c))
print("sum is:",(s))

count is: 1
count is: 2
count is: 3
count is: 4
count is: 6
sum is: 15

In [ ]:
print(i)

5

In [ ]:
s=0
for c in range(1,9):
    s+=c
    c+=1

    if(c == 5):

        continue

    print("c is:",(c))
print("sum is",(s))

c is: 2
c is: 3
c is: 4
c is: 6
c is: 7
c is: 8
c is: 9
sum is 36

In [ ]:
n='deepanshu'
for i in n:
    if i=='a':
        break
        print('hello')
    print(i)

d
e
e
p

In [ ]:
n='deepanshu'
for i in n:
    if i=='a':
        continue
        print('hello')
print(i)

u

In [ ]:
# pass

In [ ]:
n=int(input('enter n '))
if n%2==0:
    print('even')
else:
    pass

enter n 3

In [ ]:
for i in range(1,6):
    print(i)
else:
    print('hello')
print('hii')

1
2
3
4
5
hello
hii

In [ ]:
for i in range(1,6):
    if i==3:
        break
    print(i)
else:
    print('hello')

1
2

In [ ]:
# Nested Loop

In [ ]:
for i in range(1,3): # outer loop
    for j in range(1,3): # inner loop
        print(j)

1
2
1
2

In [ ]:
for i in range(3): # outer loop
    for j in range(1,3): # inner loop
        print(i)

0
0
1
1
2
2

In [ ]:
for i in range(1,3): # outer loop
    for j in range(1,i): # inner loop
        print(j)

1

In [ ]:
n=int(input('enter n '))
for i in range(1,n+1):
    print('Table of ',i)
    for j in range(1,11):
        print(i,'*',j,'=',i*j)
    print()

enter n 3
Table of  1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Table of  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Table of  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
for i in range(1,10):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [ ]:
print('hello',end=' ')
print('hii',end=',')
print('hey')
print('bye')

hello hii,hey
bye

In [ ]:
L=['python','per','java','pascal','c','c++']
for i in L:
    for j in i:
        if j=='p':
            print(i)

python
per
pascal

In [ ]:
# Nested loop

for i in range(1,3): # outer loop
    for j in range(1,3): # inner loop
        print(j)

1
2
1
2

In [ ]:
for i in range(1,3): # outer loop
    for j in range(1,4): # inner loop
        print(i)

1
1
1
2
2
2

In [ ]:
for i in range(3):
    for j in range(1,i):
        print(j)

1

In [ ]:
n=int(input('enter n '))
for i in range(1,n+1):
    print('\n')
    for j in range(1,11):
        print(i,'*',j,'=',i*j)

enter n 4


1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
print('hello\nBhavna')

hello
Bhavna

In [ ]:
L=['C','C++','Python','Java','Perl','Ruby','PHP']
for i in L:
    for j in i:
        if j=='P':
            print(i)

Python
Perl
PHP
PHP

In [ ]:
L=['C','C++','Python','Java','Perl','Ruby','PHP']
for i in L:
    if 'P' in i:
        print(i)

Python
Perl
PHP

In [ ]:
for i in range(1,10):
    if i==3:
        continue
    print(i)
else:
    print('hello')

print('hii')

1
2
4
5
6
7
8
9
hello
hii

In [ ]:
# prime numbers in a given range

n=int(input('enter n '))
for i in range(1,n+1):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

enter n 4
2
3

In [ ]:
for i in range(2,2):
    print(i)
else:
    print('hello')

hello

In [ ]:
n=int(input('enter n '))
c=0
ne=0
while n!=0:
    if n>0:
        c=c+1
    else:
        ne+=1
    n=int(input('enter n '))


print(c)
print(ne)

enter n 6
enter n -8
enter n -1
enter n -2
enter n 8
enter n 9
enter n 0
3
3

In [ ]:
n=int(input('enter n '))
a=int(input('enter a '))
min=a
max=a

for i in range(1,n):
    a=int(input('enter a '))
    if a<min:
        min=a
    if a>max:
        max=a


print('minimum',min)
print('maximum',max)

enter n 3
enter a 16
enter a 12
enter a 56
minimum 12
maximum 56

In [ ]:
for i in range(10,310,10):
    print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [ ]:
for i in range(105,0,-7):
    print(i)

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [ ]:
n=231

for i in str(n):
    print(i)
    if i=='1':
        print('one')

2
3
1
one

In [ ]:
231
# 132

a=132
b=a%10

In [ ]:
# Data Types
#1. Immutable - numeric, string , stuples
#2. Mutable - list , dictionary , set

In [ ]:
# string :- # It is a sequence of characters that always written into quotation

In [ ]:
s1 = 'abcd'
print(s1,type(s1))

abcd <class 'str'>

In [ ]:
s2="xyz"
print(s2,type(s2))

xyz <class 'str'>

In [ ]:
# multiline string
s3 = '''hello
i
    am
Dee
            p
an
        s
h
    u'''

print(s3)

hello
i
    am
Dee
            p
an
        s
h
    u

In [ ]:
s3 ="""hello
i
    am
Dee
            p
an
        s
h
    u"""

print(s3)

hello
i
    am
Dee
            p
an
        s
h
    u

In [ ]:
first = 'Bhavna'
last = 'Mogha'

full = first +' ' + last # concatenation

print(full)
print((first + " ")*2 ) # repetition of string

Bhavna Mogha
Bhavna Bhavna

In [ ]:
first = 'Abhay'
last = 'verma'

full = first +' ' + last # concatenation : non -numeric and similiar datatype with add

print(full)
print((first + " ")*2 ) # repetition of string

Abhay verma
Abhay Abhay

In [ ]:
print('My first name is',first, 'and my last name is',last)
print(f'My first name is {first} and my last name is {last}') # f specifier
print('My first name is {} and my last name is {}'.format(first,last))

My first name is Abhay and my last name is verma
My first name is Abhay and my last name is verma
My first name is Abhay and my last name is verma

In [ ]:
s = 'apple'

print(len(s))

5

In [ ]:
# Indexing & Slicing

In [ ]:
s = 'deepanshu @123'
print(len(s))

14

In [ ]:
# Indexing := always started zero
# print(s[5])
# print(s[0])
# print(s[-1])
# print(s[9])
# print(s[-5])
# print(s[99])

In [ ]:
s = 'deepanshu @123'

In [ ]:
# slicing
# print(s[4:8]) #4 is start index and 8 in end or stop index
# print(s[8:11])
# print(s[-6:-3])
# print(s[0:20])
# print(s[0:])
# print(s[:100000])
# print(s[:])
# print(s[0:-3])
# print(s[7:2])

In [ ]:
#step sizing in slicing
s = 'deepanshu @123'
print(s[0:100:3])
print(s[0:100:1])
print(s[::1])
print(s[::-1]) # reverse of string

dps 2
deepanshu @123
deepanshu @123
321@ uhsnapeed

In [ ]:
# string functions

In [ ]:
s='a quick brown fox jumps over the lazy dog'
print(s)
print(len(s))

a quick brown fox jumps over the lazy dog
41

In [ ]:
# index  :- find out the numerica no. in alphabate or word/number of the string
print(s.index('q'))
print(s.index('a'))
# print(s.index('A'))

2
0

In [ ]:
# count
print(s.count('o'))
print(s.count('A'))

4
0

In [ ]:
# replace
print(s.replace('fox','cat'))

a quick brown cat jumps over the lazy dog

In [ ]:
s1 = 'deepanhsu'
s2 = '234567890'
s3 = 'deepanshu12376584'
s4 = ' '
s5 = '$#$^&B&(G^(' #special character

print(s1.isalpha())  #is function use for checking
print(s2.isdigit())
print(s2.isalnum())
print(s4.isspace())

True
True
True
True

In [ ]:
s1='deepanshu'
s2='DEEPANSHU'
s3='Deepanshu'
s4='deepanshu verma'

# print(s1.islower())
# print(s2.isupper())
# print(s1.upper())
# print(s2.lower())
print(s1.capitalize())
# print(s3.iscapitalize())
print(s4.capitalize())
print(s4.title())
print(s3.istitle())

Deepanshu
Deepanshu verma
Deepanshu Verma
True

In [ ]:
X='sASDFDGGFHghgiijiDRDkj'
print(X.swapcase()) # change small to capital or capital to small

SasdfdggfhGHGIIJIdrdKJ

In [ ]:
print(s)

a quick brown fox jumps over the lazy dog

In [ ]:
# split
print(s.split(' '))
print(s.split('o'))

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['a quick br', 'wn f', 'x jumps ', 'ver the lazy d', 'g']

In [ ]:
print(s.startswith('a'))
print(s.endswith('og'))

True
True

In [ ]:
#tuples:-are my immutable data type that stores the elements coma sepeartedly #usees in SQL as row form
#tuples are packed into the parenthesis
#tuples are represented into the parenthesis

In [ ]:
t1 = (1,2,3,4,5,6)
print(t1,type(t1))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [ ]:
t2=('a','b','c')
print(t2,type(t2))

('a', 'b', 'c') <class 'tuple'>

In [ ]:
tup =(10,) # tuple identification in coma  or represented in packed parenthesis
print(tup,type(tup))

(10,) <class 'tuple'>

In [ ]:
t3=('xyz')
print(t3,type(t3))

xyz <class 'str'>

In [ ]:
t=1,2,3,'xyz',6,'abc'
print(t,type(t))

(1, 2, 3, 'xyz', 6, 'abc') <class 'tuple'>

In [ ]:
a=('xyz')
#b=('xyz',)
b = (('xyz',))
c=(('abcd','def'),)

In [ ]:
for i in a:
     print(i,type(i))

x <class 'str'>
y <class 'str'>
z <class 'str'>

In [ ]:
for i in b:
     print(i,type(i)) # char wise run

xyz <class 'str'>

In [ ]:
for i in c:
     print(i,type(i)) # element wise run

('abcd', 'def') <class 'tuple'>

In [ ]:
#Tuple fuctions

In [ ]:
t=('a','quick','brown','fox','jumps','over','a','lazy','dog')
print(t)
print(len(t))

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog')
9

In [ ]:
#index
print(t.index('a'))
#print(t.index('q'))

0

In [ ]:
#count
print(t.count('o'))
print(t.count('a'))

0
2

In [ ]:
T=(6,2,3,8,2,6,23,8,5,3)
print(sorted(T))
print(sorted(T,reverse=True))
print(min(T))
print(max(T))
print(sum(T))

[2, 2, 3, 3, 5, 6, 6, 8, 8, 23]
[23, 8, 8, 6, 6, 5, 3, 3, 2, 2]
2
23
66

In [ ]:
t1=('a','X','A','7','x','@','Z','')
print(t1)
print(sorted(t1)) #ascii

('a', 'X', 'A', '7', 'x', '@', 'Z', '')
['', '7', '@', 'A', 'X', 'Z', 'a', 'x']

In [ ]:
print(ord('a'))

97

In [ ]:
for i in t1:
   print(i,'...',ord(i))

a ... 97
X ... 88
A ... 65
7 ... 55
x ... 120
@ ... 64
Z ... 90

TypeError: ord() expected a character, but string of length 0 found

In [ ]:
print(t)

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog')

In [ ]:
print(','.join(t)) # /

a,quick,brown,fox,jumps,over,a,lazy,dog

In [ ]:
#Palindrome string in given input no. #madam,naman,nitin,level,rar,racecar
s=input('enter string')
if s==s[::-1]:
    print('palindrome')
else:
    print('not palindrome')

enter stringdvd
palindrome

In [ ]:
#Check the special character in given string
s='bhav@123.com'
for i in s:
    # if i.isalpha():
    #      pass
    # elif i.isdigit():
    #   pass
    if i.isalnum():
        pass
    else:
        print(True)
        break

True

In [ ]:
#Remove the duplicate input string
a= 'banana' #ban

s=''
for i in a:
    if i not in s:
        s=s+i
print(s)

ban

In [ ]:
#remove the replace in a give string
a='a quick brown fox jumps over the lazy dog'
s=''
for i in a.replace(' ',' '):
    if i not in s:
        s=s+i
print(s)

a quickbrownfxjmpsvethlzydg

In [ ]:
# check the all alphabets
a='a quick brown fox jumps over the lazy dog'
s=''
for i in a.replace(' ',' '):
    if i not in s:
        s=s+i
print(sorted(s))

if sorted(s)==[chr(i) for i in range(ord('a'),ord('z')+1)]:
  print('Alphabets')
else:
  print('Not Alphabets')

[' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
Not Alphabets

In [ ]:
s='apple'
print(s.index('p'))

1

In [ ]:
#Method 1
s='apple'
c=0
for i in s:
  c=c+1
  print(i,'..',c)

a .. 1
p .. 2
p .. 3
l .. 4
e .. 5

In [ ]:
s='apple'
for i in range(len(s)):
  print(i,'...',s[i])

0 ... a
1 ... p
2 ... p
3 ... l
4 ... e

In [ ]:
#List
#list are my mutable data type that stores the elements coma separtedly
#List are always represented into the []

In [ ]:
l1=[1,2,3,4,5]
print(l1,type(l1))

[1, 2, 3, 4, 5] <class 'list'>

In [ ]:
l2=['a','b',2,'z']
print(l2,type(l2))

['a', 'b', 2, 'z'] <class 'list'>

In [ ]:
l3=[ ]
print(l3,type(l3))

[] <class 'list'>

In [ ]:
l1=['Bhavna']
#l2 =mogha Error due to cancatenation different data type
l2=['Mogha']

print(l1+l2)
print(l2*3)

['Bhavna', 'Mogha']
['Mogha', 'Mogha', 'Mogha']

In [ ]:
#list Functions

In [ ]:
l=['a','quick','brown','fox','jumps','over','a','lazy','dog']
print(l)
print(len(l))

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']
9

In [ ]:
#index
print(l.index('a'))
#print(l.index('q')) error becoz this is char

0

In [ ]:
#count
print(l.count('o'))
print(l.count('a'))

0
2

In [ ]:
#append : #same add in  this last string
l.append('house')
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog', 'house']

In [ ]:
#extend #also add in the last of the strong but they can iterate if str show char and if list show and print element
l.extend('in')
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog', 'house', 'i', 'n', 'i', 'n']

In [ ]:
l.extend(['house'])
l.extend(['the','evening'])
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog', 'house', 'i', 'n', 'i', 'n', 'house', 'house', 'the', 'evening']

In [ ]:
l.extend(123)
print(l)

TypeError: 'int' object is not iterable

In [ ]:
#insert
l.insert(0,'labra')
print(l)

['labra', 'a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog', 'house', 'i', 'n', 'i', 'n', 'house', 'house', 'the', 'evening']

In [ ]:
#pop
l.pop(8)
print(l)

['labra', 'a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'house', 'i', 'n', 'i', 'n', 'house', 'house', 'the', 'evening']

In [ ]:
l.pop()

'evening'

In [ ]:
print(l)

['labra', 'a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'house', 'i', 'n', 'i', 'n', 'house', 'house', 'the']

In [ ]:
#remove
l.remove('a')
print(l)

['labra', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'house', 'i', 'n', 'i', 'n', 'house', 'house', 'the']

In [ ]:
print(l)

['labra', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'house', 'i', 'n', 'i', 'n', 'house', 'house', 'the']

In [ ]:
l.reverse()
print(l)

['dog', 'lazy', 'a', 'over', 'jumps', 'fox', 'brown', 'quick', 'a']

In [ ]:
print(sorted(l))
print(sorted(l,reverse=True))

['a', 'a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick']
['quick', 'over', 'lazy', 'jumps', 'fox', 'dog', 'brown', 'a', 'a']

In [ ]:
print(l)

['dog', 'lazy', 'a', 'over', 'jumps', 'fox', 'brown', 'quick', 'a']

In [ ]:
l.sort()

In [ ]:
print(l)

['a', 'a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick']

In [ ]:
l.sort(reverse=True)

In [ ]:
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

In [ ]:
l.clear()

In [ ]:
print(l)

[]

In [ ]:
print(''.join(l))

aquickbrownfoxjumpsoveralazydog

In [ ]:
L =[7,2,5,2,3,6,2,7,9,3] #[7,2,5,6,9,3]
l=[]
for i in L:
  if i not in l:
    l.append(i)
print(l)

[7, 2, 5, 3, 6, 9]

In [ ]:
s1='silent'
s2='listen'
if sorted(s1)==sorted(s2):
    print('Anagram')
else:
    print('Not Anagram')

Anagram

In [ ]:
s1=input('enter s1')
s2='listen'
l=[]
for i in s2:
  if i in s1:
    l.append(s1[s1.index(i)])
print(''.join(l))

enter s1silent
listen

In [ ]:
# Nested list

In [ ]:
L=[1,2,3,4,5,6]
print(len(L))

6

In [ ]:
L=[1,2,[3,4],5,6]
print(len(L))
print(L)

5
[1, 2, [3, 4], 5, 6]

In [ ]:
L=[1,[2,[3,4],5],6]
print(L,len(L))

[1, [2, [3, 4], 5], 6] 3

In [ ]:
l1=[1,2,3,4,5,[6,7,8,9],0]
print(l1)
print(len(l1))

[1, 2, 3, 4, 5, [6, 7, 8, 9], 0]
7

In [ ]:
l2=[1,2,[3,4],5,[6,7,8,9],0]
print(l2)
print(len(l2))

[1, 2, [3, 4], 5, [6, 7, 8, 9], 0]
6

In [ ]:
l2=[1,2,[3,4],5,[6,[7],8,9],0]
print(l2)
print(len(l2))

[1, 2, [3, 4], 5, [6, [7], 8, 9], 0]
6

In [ ]:
l2=[[1,2,[3,4],5,[6,[7],8,9],0]]
print(l2)
print(len(l2))

[[1, 2, [3, 4], 5, [6, [7], 8, 9], 0]]
1

In [ ]:
l=['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']
print(l)
print(len(l))

['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']
8

In [ ]:
print(l[5])
print(l[-3])
#print(l[100])
print(l[4][2])
print(l[-4][2])
print(l[-2][-3])

a
a
e
e
a

In [ ]:
l=['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']
print(l)

['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']

In [ ]:
print(l[1])
print(l[1:2])
print(l[3])
print(l[3:4])
print(l[3:4][0])
print(l[3:4][0][1])
print(l[3:4][0][1][-3:])

quick
['quick']
['fox', 'jumps']
[['fox', 'jumps']]
['fox', 'jumps']
jumps
mps

In [ ]:
l=['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']
print(l)

['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']

In [ ]:
# print(l[2:6])
# print(l[2:6][1])
# print(l[2:6][1][0])
print(l[0:100])
print(l[0:])
print(l[:100])
print(l[:])
print(l[100:0])

['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']
['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']
['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']
['a', 'quick', 'brown', ['fox', 'jumps'], 'over', 'a', 'lazy', 'dog']
[]

In [ ]:
# list comprehension

In [ ]:
# when i want my expected output in the form of list we use list comprehension
# list comprehension provides you the shorter syntax of code

In [ ]:
L=[]
for i in range(1,10):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# syntax [ans   for loop]
l1 = [i for i in range(1,10)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
L=[]
for i in range(1,10):
    if i>=7:
        L.append(i)
print(L)

[7, 8, 9]

In [ ]:
# syntax [ans  for loop if con]
l2 = [i for i in range(1,10) if i>=7 ]
print(l2)

[7, 8, 9]

In [ ]:
L=[]
for i in range(1,10):
    if i%2==0:
        L.append('even')
    else:
        L.append('odd')

print(L)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# syntax [ans if con  else ans for loop ]
l3 = ['even' if i%2==0 else 'odd' for i in range(1,10)]
print(l3)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# Data Type
#1. Immutable - Numeric , string, tuples
#2. Mutable - list , dict , set

In [ ]:
# Dictionary

In [ ]:
# dinctionary are my  mutable data type that stores the elements in a key-value pair format
# each key key value pairs are seperated by commas
# key and value are seperated by colon
# dictionary represents into the curly brackets {}
# dictionary key should be unique

In [ ]:
d = {1:'a','name':'xyz',100:4,'hii': 0}
print(d)
print(type(d))
print(len(d))

{1: 'a', 'name': 'xyz', 100: 4, 'hii': 0}
<class 'dict'>
4

In [ ]:
d2={1:100 , 2:200, 'abc':'xyz',9:'nine',5:200,1:'one'}
print(len(d2))
print(d2)

5
{1: 'one', 2: 200, 'abc': 'xyz', 9: 'nine', 5: 200}

In [ ]:
d={1:'a',5:'quick',0:'brown',2:'fox',10:'jumps',7:'over'}

In [ ]:
# to acces any values in dictionary i have to pass it's key
print(d[0])
# print(d[99])

brown

In [ ]:
# to acces any values in dictionary i have to pass it's key
print(d[0])
# print(d[99])

brown

In [ ]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys([1, 5, 0, 2, 10, 7])
dict_values(['a', 'quick', 'brown', 'fox', 'jumps', 'over'])
dict_items([(1, 'a'), (5, 'quick'), (0, 'brown'), (2, 'fox'), (10, 'jumps'), (7, 'over')])

In [ ]:
# update
d.update({99:'the'})
d.update({5:'lazy'})
d.update({-7:'dog',500:'house'})

d[999] = 'byuifnup'

In [ ]:
print(d)

{1: 'a', 5: 'lazy', 0: 'brown', 2: 'fox', 10: 'jumps', 7: 'over', 99: 'the', -7: 'dog', 500: 'house', 999: 'byuifnup'}

In [ ]:
# pop
d.pop(-7)

'dog'

In [ ]:
print(d)

{1: 'a', 5: 'lazy', 0: 'brown', 2: 'fox', 10: 'jumps', 7: 'over', 99: 'the', 500: 'house', 999: 'byuifnup'}

In [ ]:
d.popitem()

(999, 'byuifnup')

In [ ]:
print(d)

{1: 'a', 5: 'lazy', 0: 'brown', 2: 'fox', 10: 'jumps', 7: 'over', 99: 'the', 500: 'house'}

In [ ]:
d.clear()

In [ ]:
print(d)

{}

In [ ]:
# Dictionary Comprehension

In [ ]:
# When i want my exprected output in the form of dictionary we use dictionary comprehension for it
# it provides you the shorter syntax of code

In [ ]:
d={}

for i in range(1,10):
    d[i] = i+1
print(d)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [ ]:
# syntax {key : value  for loop}
d1={i: i+1 for i in range(1,10)}
print(d1)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [ ]:
d={}

for i in range(1,10):
    if i>6:
        d[i] = i-1
print(d)

{7: 6, 8: 7, 9: 8}

In [ ]:
print(d)

{7: 6, 8: 7, 9: 8}

In [ ]:
# syntax {key : value  for loop if con}
d2={i: i-1 for i in range(1,10) if i>6}
print(d2)

{7: 6, 8: 7, 9: 8}

In [ ]:
d={}

for i in range(1,10):
    if i%2==0:
        d[i] = 'even'
    else:
        d[i]='odd'
print(d)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

In [ ]:
# {key : value if con else value for loop}
d3={i:'even' if i%2==0 else 'odd' for i in range(1,10) }
print(d3)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

In [ ]:
# set

In [ ]:
# set are my mutable data type that stores the elements unorderly
# set supports the mathematical operations of set theory
# set are packed into the {}
# set does not allow the duplicare elements

In [ ]:
s1= {1,2,3,4,5}
print(s1,type(s1))
print(len(s1))

{1, 2, 3, 4, 5} <class 'set'>
5

In [ ]:
s2={4,5,6,7,4,6,3,2}
print(len(s2),s2)

6 {2, 3, 4, 5, 6, 7}

In [ ]:
s3={}
print(type(s3))

<class 'dict'>

In [ ]:
s1=set()
print(s1,type(s1))

set() <class 'set'>

In [ ]:
s1.add(1)

In [ ]:
print(s1)

{1}

In [ ]:
# union
# intersection
# difference
# subset
# disjoint

In [ ]:
# union
veg={'onion','carrot','tomato'}
fr={'mango','apple','grapes'}
di={'pizza','burger'}

print(veg.union(fr))

print(fr | di)

{'carrot', 'tomato', 'grapes', 'onion', 'apple', 'mango'}
{'grapes', 'apple', 'burger', 'pizza', 'mango'}

In [ ]:
# intersection
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9,0}

print(s1.intersection(s2))

print(s1 & s2)

{4, 5, 6}
{4, 5, 6}

In [ ]:
# difference
print(s1.difference(s2))

print(s2-s1)

{1, 2, 3}
{0, 8, 9, 7}

In [ ]:
# subset
a={1,2,3,4,5,6,7}
b={1,2,3,4,5,6,7,8,9,0}

print(a.issubset(b))
print(b.issubset(a))

True
False

In [ ]:
# disjoint
x={1,2,3,4,5}
y={6,7,8,9,0}

print(x.isdisjoint(y))

True

In [ ]:
l=[1,1,2,3,1,3,1,3,4,5,6]
#[1,2,3,4,5,6]
L=[ ]

for i in l:
    if i not in L:
        L.append(i)
print(L)

[1, 2, 3, 4, 5, 6]

In [ ]:
l=[1,1,2,3,1,3,1,3,4,5,6]
print(list(set(l)))

[1, 2, 3, 4, 5, 6]

In [ ]:
d='banana'
D={}
for i in d:
    D[i] = d.count(i)
print(D)

{'b': 1, 'a': 3, 'n': 2}

In [ ]:
print({i: d.count(i) for i in d })

{'b': 1, 'a': 3, 'n': 2}

In [ ]:
weight = ['50.0kg','100.4kg']
w=[]
# [50,100]
for i in weight:
    w.append(int(float(i.replace('kg',''))))
print(w)

[50, 100]

In [ ]:
weight = ['50.0kg','100.4kg']
for i in weight:
    print(i[:-2])

50.0
100.4

In [ ]:
# basics
# operators
# if else
# for loop only
# str, list
# lambda (optional)

# Functions #ctrl m + m

In [ ]:
print('hii')
print('hello')

hii
hello

In [ ]:
def xyz():
    print('hello')
    print('hey')
    print('hii')


xyz()

hello
hey
hii

In [ ]:
def f():
    print('hello')
    print('hii')

f()

hello
hii

In [ ]:
print('python')

def F():
    print('SQL')
print('ML')
F()
print('Excel')

python
ML
SQL
Excel

In [ ]:
#1. User defined function
#2. Annonymous Function
#3. Built in function

In [ ]:
#1. Takes nothing , return nothing
#2. Takes Something, return nothing
#3. Takes nothing, return something
#4. Takes something , return something

In [ ]:
#1. Takes nothing , return nothing
def f1():
    a=int(input('enter a '))
    b=int(input('enter b '))
    c=a+b
    print(c)

f1()

enter a 5
enter b 6
11

In [ ]:
#2. Takes Something, return nothing
def f2(x,y): # parameters
    z=x-y
    print(z)

a=int(input('enter a '))
b=int(input('enter b '))
f2(a,b) # arguments

enter a 5
enter b 3
2

In [ ]:
#3. Takes nothing, return something
def f3():
    a=int(input('enter a '))
    b=int(input('enter b '))
    res = a*b
    return res

d=f3()

enter a 4
enter b 5

In [ ]:
print(d)

20

In [ ]:
#4. Takes something , return something
def f4(i,j):
    res1=i**j
    return res1



a=int(input('enter a '))
b=int(input('enter b '))
q=f4(a,b)
print(q)

enter a 3
enter b 4
81

In [ ]:
print('python')
def f5():
    return 'nlp'
    print('ML')
    return 'AI'
    print('SQL')


print('java')
H=f5()
print(H)
print('excel')

python
java
nlp
excel

In [ ]:
def f6(a,b,c,d):
    print(a)
    print(b)
    print(c)
    print(d)

f6(1,2,3,4)

1
2
3
4

In [ ]:
def f7(x,*y): # args
    print(x,type(x))
    # print(y,type(y))
    for i in y:
        print(i)

f7(1,2,3,4,5,7,8,4,7,4,7,4)

1 <class 'int'>
2
3
4
5
7
8
4
7
4
7
4

In [ ]:
def avg(*s):
    if len(s)!=0:
        return sum(s)/len(s)
    else:
        return 'hello'

g=avg(1,2,3,4,5)
print(g)

3.0

In [ ]:
def f9(**r): # key word argument
    print(r)


f9(Name='Deepanshu',age=546,marks=759)

{'Name': 'Deepanshu', 'age': 546, 'marks': 759}

In [ ]:
# scope of variables
# global variables - global variables are declare outside the function body
                # global variables can be accesed anywhere throught the program



# local variables - local variables are declare inside the function body
                # local variables can be accesed within its block only

In [ ]:
a=10
def func():
    print(a)
print(a)
func()
print(a)

10
10
10

In [ ]:

def f10():
    y=5 # local var
    print(y)

f10()
print(y)

5

NameError: name 'y' is not defined

In [ ]:
# Annonymous Functions

In [ ]:
# lambda are my annonymous function beacuse it deos not declare in a standard manner by using the def keyword
# lambda are alson knwon as a one liner function

In [ ]:
# lambda paramters : expressions

In [ ]:
res = (lambda a,b : a+b)(2,5)
print(res)

res1 = lambda x,y: x+y
print(res1(6,7))

7
13

In [ ]:
res2 = (lambda i,j : i*j) (int(input('enter i ')),int(input('enter j ')))
print(res2)

res3 = lambda a,b : a**b
x=int(input('enter x '))
y= int(input('enter y '))

print(res3(x,y))

enter i 2
enter j 3
6
enter x 4
enter y 3
64

In [ ]:
# lambda paramters :ans if con else ans

exp = (lambda a:'even' if a%2==0 else 'odd')(int(input('enter n ')))
print(exp)

exp1 = (lambda a:'even' if a%2==0 else 'odd')
print(exp1(int(input('enter n '))))

enter n 3
odd
enter n 2
even

In [ ]:
s = (lambda y : 'Pallindrome' if y==y[::-1] else 'Not Pallindrome')
print(s(input('enter string ')))

enter string nitin
Pallindrome

In [ ]:
n = (lambda z : z.swapcase())
print(n(input('enter n ')))

enter n felloo
FELLOO

In [ ]:
n=int(input('enter n '))
for i in range(1,n+1):
    a=int(input('entert a '))
    exp=(lambda m : 'even' if m%2==0 else 'odd')(a)
    print(a, 'is',exp)

enter n 3
entert a 2
2 is even
entert a 4
4 is even
entert a 5
5 is odd

In [ ]:
# Builtin in function
#1. print()
#2. inupt()
#3. type()
#4. range()
#5. len()
#6. id()
#7. ord()
#8. chr()
#9.  sorted()
#10. min()

In [ ]:
#1. zip()
#2. eval()
#3. round()
#4. enumerate()

In [ ]:
# zip() - when i want to iterate in more than one iterable simultaneously

name = ['a','b']
roll = [1,2,3]
d={}
for i,j in zip(roll,name):
    print(i,'..',j)
    d[i]=j
print(d)

1 .. a
2 .. b
{1: 'a', 2: 'b'}

In [ ]:
# round
a = 6.5742
print(round(a,3))
print(round(a,2))
print(round(a,1))
print(round(a,0))
print(round(a))

6.574
6.57
6.6
7.0
7

In [ ]:
# eval() evaulate

exp = 'x**2+3*y'
x=3
y=2

print(exp,type(exp))
print(eval(exp))

x**2+3*y <class 'str'>
15

In [ ]:
# enumerate
L=['a','b','a','d']

for i,j in enumerate(L):
    print(i,'...',j)

0 ... a
1 ... b
2 ... a
3 ... d

#File handling